<a href="/assessment" id="resetButton" role="button" draggable="false" class="govuk-button govuk-button--warning" data-module="govuk-button">
Reset
</a>
{% set navPages = collections.ordered | eleventyNavigation("Assessment") %}
{% set nextEntry = false %}
{% set foundEntry = false %}
{%- for entry in navPages %}
  {% if nextEntry == true and foundEntry == false %}
<a href="{{ entry.url }}" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
Save and continue
</a>
    {% set foundEntry = true %}
  {% endif %}

  {% if entry.key == eleventyNavigation.key %}
    {% set nextEntry = true %}
  {% endif %}

{%- endfor %}

{% if foundEntry == false %}
<a href="/assessment/report" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
  Get report
</a>
{% endif %}
<script src="../assets/cmm_assessment.js"></script>
<script src="../../assets/cmm_assessment.js"></script>