{%- from "govuk/components/accordion/macro.njk" import govukAccordion -%}
{%- from "govuk/components/details/macro.njk" import govukDetails -%}

{%- set accordionItems = [] -%}

{%- for section in collections.cmm -%}
  {%- set contentHtml -%}
    {%- for question in collections[section.fileSlug] -%}
      <h3 class="govuk-heading-l">{{question.data.title | safe}} <a href="/assessment/{{section.fileSlug}}#{{(question.data.title | hash)}}" aria-label="change your answer to {{question.data.title | safe}}" class="govuk-link">[change your answer]</a></h3>
      <div id="{{section.fileSlug + "_" + (question.data.title | hash) + "_0"}}" class="report_answer_section">
      <p class="govuk-body">You did not answer this question.</p>
      </div>
      {%- for answer in question.content | getContentsAfterTags("h3") -%}
      <div id="{{section.fileSlug + "_" + (question.data.title | hash) + "_" + loop.index}}" class="report_answer_section">
        {%- set answerParts = answer | getContentsAfterTags("h4") -%}
        {# Show ONLY "How to do better" section (answerParts[2]) - not collapsible #}
        {{- answerParts[2] | safe -}}
      </div>
      {%- endfor -%}
      {% if loop.last == false %}
        <hr/>
      {% endif %}
    {%- endfor -%}
  {%- endset -%}
  {%- set item = {
    expanded: true,
    heading: {
      text: section.data.title,
      headingLevel: 2
    },
    content: {
      html: contentHtml | safe | trim | replace('\n', "")
    }
  } -%}
  {%- set accordionItems = accordionItems.concat(item) -%}
{%- endfor -%}

{{- govukAccordion({
  id: "accordion-default",
  items: accordionItems| sort(false, false, 'heading.text'),
  hideAllSectionsText: "Close all sections"
}) -}}